<h1>New York Times movie reviews search</h1>

<%= form_tag root_path, method: :get, id: 'reviews_search' do |form| %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  </p>
<% end %>

<div id='reviews'><%= render 'reviews' %></div>
