<h1>New York Times movie reviews search</h1>

<%= form_tag "/homes", method: :get, id: 'reviews_search', class: "form-inline", remote: true do |form| %>
  <div class="form-group">
  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Movie" %>
  <%= submit_tag "Search", class: "btn btn-default" %>
  </div>
<% end %>

<div id='reviews'><%= render 'reviews' %></div>
