<h1>New York Times Movie Reviews Search</h1>

<h4>Search through all the New York Times' movie reviews!</h4>

<%= form_tag "/homes", method: :get, id: 'reviews_search',
  class: "form-inline", remote: true do |form| %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search],
      class: "form-control", placeholder: "Movie" %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  </div>
<% end %>

<p><div id='reviews'><%= render 'reviews' %></div></p>
