<%= render partial: "review" %> 
<%# <% binding.pry %1> %>
<%# <%= @reviews['results'][0]['display_title'] %1> %>
<%# <p>hey</p> %>
<%# <%= @movie.inspect %1> %>
<%# <p>ho</p> %>
<%# <%= ENV['nyt_movie_reviews_key'] %1> %>
